* {
    margin: 0px;
}

body {
    background-color: #F4D04E;
}

.wrapper {
    /* height: 100vh; */
    min-height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    min-height: 522px;
    max-width: 384px;
    /* height: 474px;
    width: 336px; */

    background-color: #FFFFFF;

    /* margin: auto; */

    border-radius: 20px;

    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 24px;

    display: flex;
    flex-direction: column;
    
    gap: 24px;

    /* box-shadow: 10px 10px 5px rgba(0, 0, 0, 1); */
    box-shadow: 8px 8px 0px 0px #000;

    p {
        font-family: "Figtree", serif;
        letter-spacing: 0px;
        line-height: 150%;
    }

}

.preview_img {
    height: 200px;
    width: 336px;
    border-radius: 10px;
    
    img {
        display: block;
        border-radius: 10px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .category, .date, .title, .main_text {
        width: fit-content;
    }

    .category {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 4px;
        padding-bottom: 4px;

        border-radius: 4px;

        background-color: #F4D04E;

        p {
            align-items: center;
            font-size: 14px;
            font-weight: bold;
        }
    }

    .date p{
        font-size: 14px;
    }

    .title {
        p {
            
            font-size: 24px;
            font-weight: bold;
        }

        :hover {
            color: #F4D04E;
            cursor: pointer;
        }
    }


    .main_text p{
        font-size: 16px;
        color: #6B6B6B;
    }

}

.author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    .avatar {
        img {
            display: block;
            width: 32px;
            height: 32px;
        }
    }

    .author_name {
        text-align: left;

        p {
            font-size: 14px;
            font-weight: bold;
        }
    }
}