* {
    margin: 0px;
}

body {
    background-color: #F4D04E;
}

.wrapper {
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
}

.card {
   height: 474px;
   width: 336px;

   background-color: #FFFFFF;

   margin: auto;

   border-radius: 20px;

   padding-left: 16px;
   padding-right: 16px;
   padding-top: 16px;
   padding-bottom: 40px;

   display: flex;
   flex-direction: column;
   
   gap: 24px; 
   box-shadow: 10px 10px 5px rgba(0, 0, 0, 1);

}

.preview_img {
    height: 200px;
    width: 336px;
    border-radius: 10px;
    
    img {
        border-radius: 10px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .category {
        width: fit-content;

        padding-left: 12px;
        padding-right: 12px;
        padding-top: 4px;
        padding-bottom: 4px;

        border-radius: 4px;

        background-color: #F4D04E;

        p {
            align-items: center;
            font-family: "Figtree", serif;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0px;
            font-weight: bold;
        }
    }

    .date {
        width: fit-content;

        p {
            font-family: "Figtree", serif;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0px;
        }
    }

    .title {
        width: fit-content;

        p {
            font-family: "Figtree", serif;
            font-size: 24px;
            line-height: 150%;
            letter-spacing: 0px;
            font-weight: bold;
        }


        :hover {
            color: #F4D04E;
            cursor: pointer;
        }
    }


    .main_text {
        width: fit-content;

        p {
            font-family: "Figtree", serif;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0px;
            color: #6B6B6B;
        }
    }

}

.author {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;


    .avatar {
        img {
            width: 32px;
            height: 32px;
        }
    }

    .author_name {
        text-align: center;

        p {
            font-family: "Figtree", serif;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0px;
            font-weight: bold;
        }
    }
}